html {
  --color-bg: #eb9dc7;
  --color-text-main: #515050;
  --color-text-secondary: #000000;
}
html[data-theme="dark"] {
  --color-bg: #352b99;
  --color-text-main: #f7f6f6;
  --color-text-secondary: #ffffff;
}
html[data-theme="light"] #light-mode-btn {
  display: none;
}

html[data-theme="dark"] #dark-mode-btn {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
