html {
  --color-main-bg: #ffffff;
  --color-bg: #bcbfc3;
  --color-text-main: #515050;
  --color-text-secondary: #000000;
  --color-blue: #279ef8;
  --color-yellow: #f8af27;
  --color-green: #12965d;
  --color-red: #f82727;
  --color-white: #ffffff;
  background-color: var(--color-main-bg);
}
html[data-theme="dark"] {
  --color-main-bg: #515050;
  --color-bg: #696a6c;
  --color-text-main: #f7f6f6;
  --color-text-secondary: #ffffff;
  --color-blue: #a3d7ff;
  --color-yellow: #f7f43e;
  --color-green: #76e5b5;
  --color-red: #f8a7a7;
  --color-white: #515050;
}
html[data-theme="light"] #light-mode-btn {
  display: none;
}

html[data-theme="dark"] #dark-mode-btn {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 305px;
}

h1 {
  color: var(--color-text-main);
  font-family: "Caesar Dressing";
  font-size: 32px;
}
main {
  padding: 0 12px;
  gap: 20px;
}

@media (min-width: 992px) {
  main {
    width: auto;
  }
  ul {
    display: flex;
  }
}



button {
  background: none;
  border: none;
}

ul {
  gap: 16px;
}



/*
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
