article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid;
  background: var(--color-white);
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}
.article-border-blue {
  border-color: var(--color-blue);
}
.article-border-red {
  border-color: var(--color-red);
}

.article-border-yellow {
  border-color: var(--color-yellow);
}

.article-border-green {
  border-color: var(--color-green);
}

article,
h2 {
  font-family: "Caesar Dressing";
  font-size: 20px;
}

article,
p {
  color: var(--color-text-main);
  font-family: "Bubbler One";
  font-size: 20px;
}

.article-title-blue {
  color: var(--color-blue);
  position: absolute;
  top: 178px;
  left: 0px;
  background-color: var(--color-white);
  padding: 8px 12px;
}

.article-title-red {
  color: var(--color-red);
  position: absolute;
  top: 178px;
  left: 0px;
  background-color: var(--color-white);
  padding: 8px 12px;
}

.article-title-yellow {
  color: var(--color-yellow);
  position: absolute;
  top: 178px;
  left: 0px;
  background-color: var(--color-white);
  padding: 8px 12px;
}

.article-title-green {
  color: var(--color-green);
  position: absolute;
  top: 178px;
  left: 0px;
  background-color: var(--color-white);
  padding: 8px 12px;
}

.article-spacing-pantheon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.article-spacing-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
  padding: 12px;
}

.article-spacing-svg {
  position: absolute;
  top: 10px;
  right: 5px;
}
