.header {
  background-color: var(--color-bg);
}

.header-logo {
  color: var(--color-text-secondary);
  font-family: "Caesar Dressing";
  font-size: 40px;
  text-decoration: none;
  padding: 20px 12px;
}
