.switch-mode-dark-btn {
  display: flex;
  width: 48px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--color-text-secondary);
  background: var(--color-text-main);
  padding: 8px 12px;
  justify-content: center;
  margin-bottom: 24px;
}

.switch-mode-dark-icon {
  width: 24px;
  height: 24px;
}
.switch-mode-light-icon {
  width: 24px;
  height: 24px;
}

.switch-mode-light-btn {
  display: flex;
  width: 48px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--color-text-secondary);
  background: var(--color-text-main);
  padding: 8px 12px;
  justify-content: center;
  margin-bottom: 24px;
}

@media (min-width: 992px) {
  .switch-mode-dark-btn {
    margin-top: -10px;
  }
  .switch-mode-light-btn {
    margin-top: -10px;
  }
}
